<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ipAddress" value="192.168.1.253" />
		<add key="autoRefresh" value="false" />
		<add key="AutoRefill" value="false" />
		<add key="AutoMaxBells" value="false" />
		<add key="language" value="eng" />
		<add key="PlayerSlot" value="AFB1E6E0" />
		<add key="PlayerOffset" value="11B968" />
		<add key="Slot21Offset" value="B8" />
		<add key="HomeOffset" value="C4" />
		<add key="ReactionOffset" value="AFB4" />
		<add key="Villager" value="AE5B5EB8" />
		<add key="VillagerOffset" value="13230" />
		<add key="VillagerHouse" value="AEA056A4" />
		<add key="VillagerHouseOffset" value="12E8" />
		<add key="VillagerHouseBuffer" value="8F1BD0" />
		<add key="RecyclingBin" value="AEE6F978" />
		<add key="Turnip" value="AEA140F4" />
		<add key="Stamina" value="B6C72358" />
		<add key="WalkSpeed" value="01612780" />
		<add key="AnimationSpeed" value="043BC3C0" />
		<add key="Collision" value="0155FE10" />
		<add key="FreezeTime" value="00328BB0" />
		<add key="ReadTime" value="0BD3A188" />
		<add key="WeatherSeed" value="AE7994B0" />
		<add key="MapZero" value="AE7E5298" />
		<add key="LastSave" value="" />
		<add key="LastLoad" value="" />
		<add key="override" value="false" />
		<add key="validation" value="true" />
		<add key="Sound" value="true" />
		<add key="Capture" value="false" />		
		<add key="ForcedImageDownload" value="false" />
		<add key="RestartRequired" value="false" />
		<add key="AnchorPath" value="Anchors.bin"/>
	</appSettings>
</configuration>